.nav{
    background-color: rgba(81, 220, 245, 0.438);
    display: flex;
    justify-content: space-between;
    height: 50px;
    border: solid 2px rgb(248, 245, 248);
    border-radius: 15px;
  }
.logo{
    border-radius: 10px;
}
.about{
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.henry{
    color: white;
    display: flex;
    flex-direction: row;
}
  
  